
<%-include('./header', {context: {selected: "widgets"}})%>


<!--TODO : pass sessionId to the javascript with an init function-->
<script>
    var sessionId = <%- JSON.stringify(sessionId) %>;
</script>

<script src="/widgets/music/controllers/visitor.js"></script>
<script src="/js/widgetsList.js"></script>


<h2>Widgets list</h2>

<div id="widgetList" class="list-group"></div>
<div id="test"></div>

<script type="text/javascript">updateListWidgets(<%- JSON.stringify(listWidget) %>,
            <%- JSON.stringify(listZoneWidget) %>,
            <%- JSON.stringify(listVoteVisitorWidget) %>);
</script>

</body>
</html>