
<%-include('./header', {context: {selected: "widgets", activeWidgetsList: context.activeWidgetsList}})%>


<!--TODO : pass sessionId to the javascript with an init function-->
<script>
    var sessionId = <%- JSON.stringify(data.sessionId) %>;
</script>

<script src="/widgets/music/controllers/visitor.js"></script>
<script src="/js/widgetsList.js"></script>


<h2>Multiboxs list</h2>

<div id="widgetList" class="list-group"></div>
<div id="test"></div>

<script type="text/javascript">updateListWidgets(<%- JSON.stringify(data.listWidget) %>,
            <%- JSON.stringify(data.listZoneWidget) %>,
            <%- JSON.stringify(data.listVoteVisitorWidget) %>);
</script>

</body>
</html>