<script src="/socket.io/socket.io.js"></script>
<script src="/zonesWidgets/controllers/adminZWidgets.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>Admin zone-widget sound</title> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <!-- values ok ?-->
   		<!--<link rel="stylesheet" href="public/css/style.css" type="text/css">-->
    	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	</head>

    <body class="admin">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<h1><p class="text-center"><Strong>Select Widgets</strong></p></h1>
				</div>
				<div class="col-xs-10">
					<h1><p class="text-center"><Strong>Widgets parameters</strong></p></h1>
				</div>
			</div>
		</div>
		<div class="container">
			<%for (i=0; i< listWidgets.length; i++) {%>
				<div class="row">
					<div class="control-group">
						<div class="checkbox col-xs-2">
							<label>
								<input type="checkbox" id="<%=listWidgets[i].nomWidget%>"
									   <%if (listWidgets[i].active) {%>checked="true"<%}%>
									   onclick="update(<%=listWidgets[i].idWidget%>, <%=listWidgets[i].nomWidget.toString()%>)">
							</label>
						</div>
						<button type="button" class="btn btn-primary col-xs-10"
								onclick="location.href='/widgets/<%=listWidgets[i].nomWidget%>/admin'">
										<%=listWidgets[i].nomWidget%></button>
					</div>
				</div>
			<%}%>
		</div>

	</body>
</html>